body {
    background-color: gray;
    margin: 0px;
}

div {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 5px;
    color: white;
}

.center-text {
    text-align: center;
}

.round-corners {
    border-radius: 10px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #77b9ff; /* Set your desired background color */
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
    transition: all 0.15s ease;
    margin: 5px;
  }
  
.link-button:hover {
    background-color: #0d141b; /* Change the background color on hover */
    color: white;
}

.popup-header {
    background-color: #48ad00;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.dont-wrap-text {
    white-space: nowrap;
}

/* .grid-container {
    background-color: transparent;
    display: inline-grid;
    grid-template-columns: repeat(5, 80px);
    gap: 5px;
}

.tile-settings-container {
    float: left;
}

.no-style-div {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.grid-cell {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: 0px;
}

.side-by-side-container {
    display: flex;
} */

